
.titlebar {
  padding-left: 7px;
  padding-right: 7px;
}

.titlebar headerbar {
  border-width: 0;
}

.view.frame {
  padding: 8px 16px;
}

.main {
  margin: 32px 64px;
}

label.header {
  font-size: 20px;
  font-weight: bold;
}

.sidebar-search box entry {
  margin: 0 8px;
}

stacksidebar.sidebar list {
  border: none;
}

list row label {
  margin: 6px 0;
}

.switchbar {
  margin: 3px 0;
}
