Source: ginvoice
Section: python
Priority: extra
Maintainer: Erik Nijenhuis <erik@xerdi.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-virtualenv,
 python3-all,
 python3-setuptools,
 python3-wheel,
 python3-venv,
 python3-pip,
 python3-gi
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6

Package: ginvoice
Architecture: all
Depends: python3-gi, python3-cairo, python3-distutils-extra, python3-xdg, texlive-full | miktex
Recommends: ttf-mscorefonts-installer
Description: Creating LaTeX invoices with a GTK GUI
