Source: ginvoice
Section: python
Priority: extra
Maintainer: Erik Nijenhuis <erik@xerdi.com>
Build-Depends: dh-virtualenv, python3-setuptools, python3, python3-xdg, python3-all, debhelper (>= 9), intltool
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6

Package: ginvoice
Architecture: all
Depends: python3-gi, python3-distutils, python3-xdg, texlive-full
Recommends: ttf-mscorefonts-installer
Description: Creating LaTeX invoices with a GTK GUI
