#!/usr/bin/make -f
export DH_VIRTUALENV_ARGUMENTS := --system-site-packages
export PYBUILD_NAME=ginvoice
%:
	dh $@ --python python3 --buildsystem=dh_virtualenv --setuptools -S
override_dh_install:
	scripts/packres.sh
	dh_install
override_dh_auto_test:
	:
